{% extends 'i55wm.layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}
    <h1>Welcome to the i55 Web Manager.</h1>

    {# No config found #}
    {% if (configs == null) %}
        <p>No previous configuration was found, do you want to create it ?</p>
        <ul>
            <li><a href="">Create new config</a></li>
            <li>Upload one (not ready yet)</li>
        </ul>

    {# Config found #}
    {% else %}
        <p>These are the current existing config, which one do you want to edit ?</p>
        <div class="row">
            {% for config in configs %}
                <div class="span6">
                    <h2>{{ config.name|e }}</h2>
                        <div>
                            <div>
                                {{ config.nbWorkspaces }} workspaces.
                                {{ config.nbTotalClients }} clients total.
                            </div>
                            <div class="btn-group">
                                <a class="btn" href="{{ path('i55wm-i3config', {'config_name': config.name}) }}">
                                    <i class="icon-edit"></i>
                                </a>
                                <a class="btn" href="{{ path('i55wm-i3config-delete', {'config': config.name}) }}">
                                    <i class="icon-trash"></i>
                                </a>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div>
        <p>
            <br />
            <a href="{{ path('i55wm-i3config') }}">
                <button class="btn btn-success">Create a new configuration</button>
            </a>
        </p>
    </div>
    {% if has_configuration == true %}

        <p><a href="{{ path('i55wm-configuration') }}">
            <button class="btn">See your default configuration</button>
        </a></p>
    {% else %}
        You don't have a default workspace configuration,
        <p><a href="">
            <button class="btn btn-success">start one?</button>
        </a></p>
    {% endif %}

{% endblock %}
