{% extends "i55wm.layout.html.twig" %}
{% set active = 'i3_configuration' %}

{% block content %}
    <h1>« {{ config.name|e}} » - « {{ workspace.name|e}} »</h1>

    <div>
        {% include 'i55wm.form.html.twig' %}
        <form action="#" method="post">
            {{ form_widget(form) }}
            <input type="submit" name="submit" class="btn" />
        </form>
    </div>
    <ul>
        <div class="row">
            {% for container in workspace.containers %}
                <div class="span6">
                    <h3>Container - Layout : « {{ container.layout|e }} »</h3>
                    {% for client in container.clients %}
                        <div class="button-group">
                            {{ client.name|e }}
                            <a href="{{ path('i55wm-client',
                                {'config': config.name,
                                 'workspace': workspace.name,
                                 'client': client.name
                                }) }}">
                                <i class="icon-edit"></i>
                            </a>
                            <a href="{{ path('i55wm-client-remove',
                                {'config': config.name,
                                 'workspace': workspace.name,
                                 'client': client.name
                                }) }}">
                                <i class="icon-trash"></i>
                            </a>
                        </div>
                    {% endfor %}
            {% endfor %}
        </div>
    </ul>

    {% if workspace.name != "new" %}
    <p>
        <a href="{{ path('i55wm-client', {'config': config.name, 'workspace': workspace.name}) }}"><button class="btn btn-primary">Add a client</button></a>
    </p>
    {% endif %}
{% endblock %}
